input[type=file] {
	width: 100%;
	padding: 6px 14px;
	margin: 8px 0 4px;
	border: none;
	border-bottom: 2px solid #456a59;
	background-color: #fffaf1;
	border-radius: 15px;
}
input[type=submit] {
	margin: 8px 0 4px;
	background-color: #fffaf1;
	width: 100%;
}
#add {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	flex-wrap: wrap;
}
#cnvs {
	max-width: 90%;
	display: flex;
	align-content: center;
	flex-direction: column;
}
#canvas {
	display: flex;
	justify-content: center;
	align-content: center;
	max-width: 100%;
	border-radius: 5px;
	object-fit: cover;
}
#preview {
	display: flex;
	justify-content: center;
	align-content: center;
	max-width: 100%;
	border-radius: 5px;
	object-fit: contain;
}
.superposable {
	position: absolute;
	width: 120px;
	cursor: pointer;
}
.superposablevid {
	position: absolute;
	width: 120px;
	cursor: pointer;
}
#img {
	display: flex;
	justify-content: center;
	align-content: center;
	position:relative;
	text-align: center;
	overflow: hidden;
}
#video {
	display: flex;
	align-content: center;
	flex-direction: column;
	max-width: 90%;
}
#video video {
	max-height: 100%;
	max-width: 100%;
	border-radius: 5px;
	object-fit: contain;
}
#video button {
	width: 100%;
	padding: 8px 14px;
	margin: 8px 0 4px;
	border: none;
	border-bottom: 2px solid #456a59;
	background-color: #fffaf1;
	border-radius: 15px;
}
#videodiv {
	display: flex;
	justify-content: center;
	align-content: center;
	position: relative;
	text-align: center;
	overflow: hidden;
}
#supervideodiv {
	display: flex;
	justify-content: center;
	align-content: center;
	position:relative;
	text-align: center;
	overflow: hidden;
	align-self: center;
}
.main {
	flex: 6;
	width: auto;
}
.side {
	flex: 2;
	overflow: auto;
	max-height: 100%;
	background-color: #D3C9B7;
}
.image {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	border: 1px solid #b9b9b9;
	border-radius: 10px;
	margin: 5px;
	padding: 4px;
}
.image:hover {
	border: 1px solid #777;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
}
.image .img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	border-radius: 5px;
	cursor: pointer;
}
.images {
	max-width: 100%;
}
.superposableimgs {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	background-color: #D3C9B7;
	border-radius: 5px;
	margin-top: 3px;
}
#superposableimg {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: row;
}
.superposableimgs img {
	width: 10vw;
	height: 10vw;
	border: 1px solid #999;
	border-radius: 5px;
	cursor: pointer;
	object-fit: contain;
	margin: 3px;
}
.superposableimgs img:hover {
	border: 1px solid #777;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
}
#imgdiv {
	justify-content: center;
	align-content: center;
	position:relative;
	text-align: center;
	overflow: hidden;
	align-self: center;
}
@media only screen and (max-width : 588px) {
	#video {
		max-width: 90%;
	}
	#cnvs {
		max-width: 90%;
	}
	#preview {
		max-height: none;
	}
}