.main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: center;
}
.image {
	display: flex;
	flex-direction: column;
	border: 1px solid #ccc;
	border-radius: 10px;
	margin: 5px;
	padding: 8px;
	max-width: 70vw;
	align-self: center;
}
.image .img {
	border-radius: 5px;
	min-width: 180px;
	min-height: 180px;
	object-fit: contain;
	max-width: 100%;
	max-height: 79vh;
}
.divimg {
	align-self: center;
}
.pagination {
	margin: 15px;
}
.pagination a {
	color: black;
	padding: 9px 16px;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
}
.pagination a.active {
	background-color: rgba(69, 106, 89, 0.91);
	color: white;
}
.pagination a:hover:not(.active) {
	background-color: #ddd;
}
.imageadds {
	display: flex;
	align-items: center;
	justify-content: center;
}
.like {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-top: 4px;
}
.addition {
	flex: 8;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.comment {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 4px;
}
.like img {
	display: flex;
	height: 32px;
	cursor: pointer;
}
.comment img {
	display: flex;
	height: 32px;
	cursor: pointer;
}
.comments {
	 margin-top: 5px;
 }
.commentform {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	margin: 5px 5px;
	max-width: 70vw;
	width: 40vw;
	align-self: center;
}
.commentarea {
	resize: none;
	width: 100%;
	min-width: 10em;
	padding: 8px 14px;
	margin: 4px 0;
	box-sizing: border-box;
	border: none;
	border-bottom: 2px solid #456a59;
	background-color: #fffaf1;
	border-radius: 15px;
}
input[type=submit] {
	margin-left: 5px;
}
.commentsDiv {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.commentDiv {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 5px;
	padding: 2px;
	max-width: 70vw;
	min-width: 320px;
}
.commentText {
	word-wrap: break-word;
	word-break: break-word;
	text-align: left;
	margin: 1px 5px;
}
.author {
	text-align: left;
	color: #161b1c80;
}
.date {
	text-align: right;
	color: #161b1c80;
}
@media only screen and (max-width : 588px) {
	.image {
		max-width: 100%;
	}
	.commentDiv {
		max-width: 100%;
	}
	.commentform {
		max-width: 100%;
	}
}