.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.image {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	border: 1px solid #ccc;
	border-radius: 10px;
	margin: 5px;
	padding: 8px;
	align-content: center;
	justify-content: center;
}
.divimg {
	align-self: center;
}
.image:hover {
	border: 1px solid #777;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.image .img {
	max-height: 100%;
	max-width: 100%;
	height: 18vw;
	object-fit: contain;
	border-radius: 5px;
	cursor: pointer;
}
.pagination {
	margin: 15px;
}
.pagination a {
	color: black;
	padding: 9px 16px;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
}
.pagination a.active {
	background-color: rgba(69, 106, 89, 0.91);
	color: white;
}
.pagination a:hover:not(.active) {
	background-color: #ddd;
}
.imageadds {
	display: flex;
	align-items: center;
	justify-content: center;
}
.like {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-top: 4px;
	cursor: pointer;
}
.addition {
	flex: 8;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.comment {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 4px;
}
.like img {
	display: flex;
	height: 32px;
	cursor: pointer;
}
.comment img {
	display: flex;
	height: 32px;
	cursor: pointer;
}
.comments {
	margin-top: 5px;
}
@media only screen and (max-width : 588px) {
	.image .img {
		height: auto;
		width: 100%;
	}
	.gallery {
		flex-direction: column;
	}
}