* {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	font-size: 100%;
	color: #161B1C;
}
h1,h2,h3,h4,h5,h6 {
	font-family: "Montserrat Alternates", sans-serif;
}
h1 {
	font-size: 200%;
}
h2 {
	font-size: 160%;
}
h3 {
	font-size: 140%;
}
h4 {
	font-size: 120%;
}
h5 {
	font-size: 90%;
}
h6 {
	font-size: 80%;
}
html, body {
	min-height: 100vh;
	min-width: 100%;
	height: 100vh;
	width: 100%;
}
.wrapper {
	min-height: 100vh;
	min-width: 100%;
	height: 100vh;
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
}
.header {
	min-width: 100%;
	max-width: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: #909971;
}
.content {
	width: 100%;
	max-height: 100%;
	overflow-y: auto;
	flex: 1;
	display: flex;
	flex-direction: row;
}
.main {
	max-height: 100%;
	overflow-y: auto;
	width: 100%;
	background-color: #F2EDE4;
}
.footer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color:#BFBBB4;
}
.footer h5 {
	text-align: left;
}
#log_in {
	margin-left: 5%;
}
.h1 {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.h1 a {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}
.h1 p {
	margin-left: 5px;
}
.h2 {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.h2 h1 {
	cursor: pointer;
}
.h3 {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.h3 img {
	margin-left: 12px;
}
.h3 a img {
	display: flex;
	margin-right: 5px;
}
.loggedin {
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
input {
	width: 20%;
	min-width: 10em;
	padding: 8px 14px;
	margin: 4px 0;
	box-sizing: border-box;
	border: none;
	border-bottom: 2px solid #456a59;
	background-color: #fffaf1;
	border-radius: 15px;
}
input[type=submit] {
	width: 10%;
	min-width: 10em;
	background-color: #dcd8d1;
	cursor: pointer;
}
input[type=file] {
	cursor: pointer;
}
input[type=checkbox] {
	width: auto;
	min-width: auto;
	cursor: pointer;
}
label[for=notify] {
	cursor: pointer;
}